[submodule "yolov5"]
	path = yolov5
	url = https://github.com/ultralytics/yolov5.git

[submodule "deep_sort/deep/reid"]
	path = deep_sort/deep/reid
	url = https://github.com/KaiyangZhou/deep-person-reid

[submodule "Detic"]
	path = Detic
	url = https://github.com/facebookresearch/Detic

[submodule "ByteTrack"]
	path = ByteTrack
	url = https://github.com/ifzhang/ByteTrack
